In [2]:
import pandas as pd

In [4]:
d1=pd.read_excel('D:/FYP/dset/Book1.xlsx')
d1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,57.0,39.0,37.0,54.0,21.0,29.0,37.0,58.0,13.0,15.0,11.0,28.0,-11.0,14.0,14.0,12.0
2,43.0,7.0,3.0,21.0,-4.0,6.0,11.0,37.0,33.0,14.0,10.0,21.0,-2.0,10.0,18.0,12.0
3,2.0,-58.0,-62.0,-40.0,-48.0,-47.0,-41.0,-3.0,59.0,10.0,11.0,16.0,35.0,14.0,28.0,18.0
4,-66.0,-154.0,-158.0,-129.0,-107.0,-128.0,-115.0,-63.0,85.0,0.0,14.0,12.0,95.0,28.0,43.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30716,-32.0,-14.0,2.0,10.0,32.0,-17.0,-31.0,5.0,-33.0,19.0,23.0,28.0,-6.0,6.0,16.0,59.0
30717,-41.0,-20.0,-9.0,-3.0,30.0,-27.0,-44.0,-10.0,-44.0,11.0,16.0,25.0,-3.0,-5.0,7.0,50.0
30718,-51.0,-28.0,-23.0,-19.0,23.0,-38.0,-58.0,-29.0,-53.0,2.0,10.0,21.0,2.0,-16.0,-3.0,39.0
30719,-59.0,-35.0,-38.0,-36.0,14.0,-47.0,-72.0,-47.0,-59.0,-9.0,4.0,14.0,7.0,-28.0,-16.0,24.0
30720,-64.0,-42.0,-52.0,-52.0,5.0,-55.0,-85.0,-63.0,-64.0,-21.0,-4.0,6.0,13.0,-41.0,-31.0,7.0

In [5]:
d1.head

<bound method NDFrame.head of        Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0             NaN         NaN         NaN         NaN         NaN         NaN
1            57.0        39.0        37.0        54.0        21.0        29.0
2            43.0         7.0         3.0        21.0        -4.0         6.0
3             2.0       -58.0       -62.0       -40.0       -48.0       -47.0
4           -66.0      -154.0      -158.0      -129.0      -107.0      -128.0
...           ...         ...         ...         ...         ...         ...
30716       -32.0       -14.0         2.0        10.0        32.0       -17.0
30717       -41.0       -20.0        -9.0        -3.0        30.0       -27.0
30718       -51.0       -28.0       -23.0       -19.0        23.0       -38.0
30719       -59.0       -35.0       -38.0       -36.0        14.0       -47.0
30720       -64.0       -42.0       -52.0       -52.0         5.0       -55.0

       Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  Unnamed: 10  \
0             NaN         NaN         NaN         NaN          NaN
1            37.0        58.0        13.0        15.0         11.0
2            11.0        37.0        33.0        14.0         10.0
3           -41.0        -3.0        59.0        10.0         11.0
4          -115.0       -63.0        85.0         0.0         14.0
...           ...         ...         ...         ...          ...
30716       -31.0         5.0       -33.0        19.0         23.0
30717       -44.0       -10.0       -44.0        11.0         16.0
30718       -58.0       -29.0       -53.0         2.0         10.0
30719       -72.0       -47.0       -59.0        -9.0          4.0
30720       -85.0       -63.0       -64.0       -21.0         -4.0

       Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15
0              NaN          NaN          NaN          NaN          NaN
1             28.0        -11.0         14.0         14.0         12.0
2             21.0         -2.0         10.0         18.0         12.0
3             16.0         35.0         14.0         28.0         18.0
4             12.0         95.0         28.0         43.0         27.0
...            ...          ...          ...          ...          ...
30716         28.0         -6.0          6.0         16.0         59.0
30717         25.0         -3.0         -5.0          7.0         50.0
30718         21.0          2.0        -16.0         -3.0         39.0
30719         14.0          7.0        -28.0        -16.0         24.0
30720          6.0         13.0        -41.0        -31.0          7.0

[30721 rows x 16 columns]>

In [6]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30721 entries, 0 to 30720
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   30720 non-null  float64
 1   Unnamed: 1   30720 non-null  float64
 2   Unnamed: 2   30720 non-null  float64
 3   Unnamed: 3   30720 non-null  float64
 4   Unnamed: 4   30720 non-null  float64
 5   Unnamed: 5   30720 non-null  float64
 6   Unnamed: 6   30720 non-null  float64
 7   Unnamed: 7   30720 non-null  float64
 8   Unnamed: 8   30720 non-null  float64
 9   Unnamed: 9   30720 non-null  float64
 10  Unnamed: 10  30720 non-null  float64
 11  Unnamed: 11  30720 non-null  float64
 12  Unnamed: 12  30720 non-null  float64
 13  Unnamed: 13  30720 non-null  float64
 14  Unnamed: 14  30720 non-null  float64
 15  Unnamed: 15  30720 non-null  float64
dtypes: float64(16)
memory usage: 3.8 MB

In [8]:
d1.describe()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
count,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000,30720.000000
mean,-0.038053,-0.254688,0.711686,-0.809961,0.148014,-0.415788,-0.499674,-0.276986,-0.686523,-0.685417,-0.735026,-0.754395,-0.844368,-0.602051,-0.703288,-0.813444
std,55.788407,35.441647,34.637429,32.605347,25.888177,46.853648,39.734245,37.781744,56.738240,35.262884,30.130106,27.158328,19.602705,44.019636,39.280196,37.713758
min,-752.000000,-390.000000,-389.000000,-347.000000,-242.000000,-469.000000,-290.000000,-212.000000,-668.000000,-241.000000,-237.000000,-205.000000,-122.000000,-366.000000,-299.000000,-269.000000
25%,-24.000000,-19.000000,-20.000000,-21.000000,-16.000000,-23.000000,-24.000000,-24.000000,-27.000000,-21.000000,-19.000000,-17.000000,-13.000000,-26.000000,-24.000000,-23.000000
50%,1.000000,0.000000,1.000000,-1.000000,0.000000,-1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,0.000000
75%,26.000000,20.000000,21.000000,20.000000,17.000000,22.000000,25.000000,24.000000,29.000000,21.000000,18.000000,16.000000,11.000000,26.000000,23.000000,23.000000
max,578.000000,231.000000,122.000000,110.000000,112.000000,533.000000,168.000000,165.000000,493.000000,166.000000,126.000000,128.000000,198.000000,219.000000,197.000000,179.000000